/* class er ., id er # */

/* fjerner default browser styles */
@import 'reset.css';

* {
  /* padding inkluderes i bredden med border-box */
  box-sizing: border-box;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Wrap */
#wrap {
  min-height: 100vh;
}

/* Farve- og fontvariabler */
:root {
  /* farver */
  --white: #ffffff;
 

  --header: RGB(209, 23, 47);
  --navbar: #ffffff;
  --navhover: #b8dee7;

  /* fonte */
  --overskrift: 'avenir';
  --broedtekst: Helvetica, sans-serif;
  --jolly: 'scheme',sans-serif;
  --headtypo:  hero-new, sans-serif;
  /* whitespace */
  --whitespace: 2rem;
}

body {
  font-family: var(--broedtekst);
  color: var(--navbar);
  margin: 0;
}

/* Typografi */
p {
  font-family: var(--overskrift);
  margin: var(--whitespace) var(--whitespace);
  padding-bottom: var(--whitespace);
  font-size: 1.5em;
  /* max-width: 35ch;  */
  color: black;
  max-width: 90%;
display: block;
margin-left: auto;
margin-right: auto;
line-height: 1.7;
}

h1 {
  font-family: var(--overskrift);
  text-align: center;
  font-size: 2.5em;
  color: black;
}
h2 {
  font-family: var(--overskrift);
  text-align: center;
  font-size: 2em;
  color: black;
}

h3 {
  font-family: var(--overskrift);
  text-align: center;
  font-size: 1.5em;
  color: black;
}


/* Header */


/* Navigationsbar med submenu */


.navbar {
  overflow: hidden;
  background-color: var(--navbar);
  display: flex;
  justify-content: space-between;
}

.navbar a {
  float: left;
  /* font-size: 16px; */
  color: black;
  text-align: center;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
  justify-content: space-between;

}

.subnav .subnavbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: var(--headtypo);
  font-weight: 100;
font-style: normal;
  margin: 0;
  height: 100%;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: var(--navhover);
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--navhover);
  width: 100%;
  z-index: 1;

}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 14px 16px;

}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

#headerlogo {
  width: 30%;
  padding: 14px 16px;

}






/* Billeder */
img {
  width: 100%;
}


.menuprodukt {
  display: flex;
  gap: 75px;
  padding-left: 25px;
  padding-right: 25px;
}

#forsker {
  width: 70%;
  padding: 40px;
}
#mve {
  width: 60%;
  padding: 40px;
}
#olddesign {
  width: 60%;
  padding: 40px;
}
#cvidag {
  width: 90%;
  padding: 40px;
}

/* Footer */



/* Andet indhold */

/* Produktkort */
.produktkort {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.pris {
  color: grey;
  font-size: 22px;
}

.produktkort button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* Om-side opsætning*/
.historie {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
}
.historie > div {
  background-color: #ffffff;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 15px;
}



/* FAQ */
.accordion {
  background-color: rgb(232, 235, 235);
  color: rgb(130, 192, 195);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.5em;
  font-family: var(--overskrift);
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Nyhedsbrev */
form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #97ccce;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* Kontakt */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #85c9d8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/* Ingrediens side opsætning */
.ingredienser {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
}
.ingredienser > div {
  background-color: #ffffff;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 15px;
}
.ingrediens {
  width: 80%;
}







/* Responsivt */
/* 1. Mobile enheder (begynd her) */
@media only screen and (max-width: 600px) {


}

/* 2. Tablets mv. (fortsæt her) */

@media only screen and (min-width: 600px) {


}

/* 3. Stor skærm (slut her) */
@media only screen and (min-width: 768px) {



}


